{% extends 'news_app/default.html' %}

{% load custom_filters %}

{% block title %}{{ article.title|censor }}{% endblock %}

{% block content %}
  <h1>{{ article.title }}</h1>
        <h4>{{ article.title|censor }}</h4>
        <p>{{ article.content|censor }}</p>
        <p><i>Опубликовано: {{ article.date_published|date:"F j, Y, H:i" }}</i></p><br>
        {% if user.is_authenticated %}
          {% if is_author %}
            <a href="{% url 'article-delete' article.id %}" class="btn btn-warning">Удалить</a><br>
            <a href="{% url 'article-update' article.id %}" class="btn btn-info">Редактировать</a>
        {% else %}
          <button class="btn btn-info"><a href="sign/upgrade/">Стать автором!</a></button>
        {% endif %}
        {% endif %}

{% endblock %}